@media(min-width: 900px) {
    /*********Layout********/
    body{
        background: #585858;
        height: auto;
    }

    .wrap{
        width: 100%;
        align-content: center;
        display: flex;
        flex-direction: column;
        padding: 0;
        height: auto;
    }

    .main{
        box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
        background: black;
        width: 900px;
        margin: 0 auto;
        padding: 76px 72px;
        border: 2px solid #111111;
        height: auto;
    }

    .main .navd{
        height: 60px;
    }

    .main .navd h5{
        font-size: 50px;
        margin: 0 0 0 15px;
    }

    .main .navd .menu-button{
        padding:7px;
    }

    footer{
        width: 900px;
        margin: 0 auto;
        padding: 120px 72px;
    }

    footer .logo{
        width: 72px;
    }

    footer .social{
        width: 36px;
        margin-top: 12px;
    }

    footer .link{
        font-size: 28px;
        margin-top: 60px;
    }

    footer .link.first{
        margin-top: 130px;
    }

    footer .copy{
        margin-top: 240px;
        font-size: 20px;
    }

    .navigation{
        right: 50%;
        margin-right: -450px;
        overflow-y: scroll;
    }

    .navigation.active{
        width: 900px;
        opacity: 0.95;
    }

    .navigation .closeButton{
        font-size: 135px;
        padding-right: 50px;
    }

    .navigation .link-block{
        padding: 120px 72px;
        border-bottom: 2px solid #464646;
    }

    .navigation .link-block .link-item{
        margin-bottom: 120px;
        font-size: 38px;
    }

    .navigation .link-block.social .link-item a{
        width: 60px;
    }



    /***********Main page*********/

    .main .header{
        width: 100%;
        margin-top: 96px;
        padding: 0 120px;
    }

    .main .header h1{
        font-size: 50px;
        margin-top: 72px;
    }

    .main .header h6{
        margin-top: 36px;
        font-size: 29px;
    }

    .main .addVac{
        margin-top: 96px;
        height: 144px;
        font-size: 33px;
    }

    h2{
        font-size: 48px;
        margin-top: 120px;
    }

    .vacancy-container{
        margin-top: 20px;
    }

    .vacancy-container .vacancy-item{
        padding: 24px;
        border-radius: 7px;
        margin-bottom: 48px;
    }

    .vacancy-container .vacancy-item:hover{
        border: 5px solid #27AE60;
    }

    .vacancy-container .vacancy-item .header{
        font-size: 24px;
    }

    .vacancy-container .vacancy-item .header .header-busy-type .img{
        width: 88px;
        margin: 12px 17px 0;
    }

    .vacancy-container .vacancy-item .img-wrp{
        width: 704px;
        height: 479px;
        margin-top: 24px;
    }

    .vacancy-container .vacancy-item .date{
        margin-top: 24px;
        font-size: 19px;
    }

    .vacancy-container .vacancy-item h3{
        margin: 5px 0 0 0;
        font-size: 38px;
        line-height: 45px;
    }

    .btn.showAll{
        border:5px solid #27AE60;
        border-radius:1.064vw;
        font-size: 34px;
        padding: 48px 0;
    }

    h2.about{
        margin-top: 36px;
    }

    p.about{
        font-size: 34px;
        line-height: 40px;
        margin-top: 36px;
    }

    .tg-wrp{
        padding: 0 31px;
        margin-top: 100px;
    }

    .tg-wrp .btn{
        top:213px;
        padding: 48px 0;
        font-size: 34px;
        border-radius: 10px;
    }

    .tg-wrp .btn:hover{
        border: 5px solid #2F80ED;
    }


    /*********************ADD PAGE**********/

    #addForm .label{
        font-size: 29px;
        margin-top: 72px;
    }

    #addForm .input, .vacancies-wrp input, .vacancies-wrp .input{
        margin-top: 24px;
        height: 132px;
        border-radius: 7px;
        padding-left: 43px;
        font-size: 34px;
    }

    #addForm textarea.input{
        padding-top: 36px;
        height: 430px;
    }

    #addForm .input.select .icon, .vacancies-wrp .input.select .icon{
        margin: auto;
        margin-right: 55px;
        width: 38px;
    }

    #addForm .input::placeholder,
    #addForm .input.select,
    .vacancies-wrp input::placeholder,
    .vacancies-wrp .input.select{
        font-size: 34px;
    }

    #addForm .input.select .cat-wrp, .vacancies-wrp .input.select .cat-wrp{
        border-radius: 7px;
    }

    #addForm .input.select .option, .vacancies-wrp .input.select .option{
        height: 132px;
        padding-left: 43px;
        border-bottom: 2px solid #D6D6D6;
    }

    #addForm .input.select .option:first-child,
    .vacancies-wrp .input.select .option:first-child{
        border-radius:7px 7px 0 0;
    }

    #addForm .input.select .option:last-child,
    .vacancies-wrp .input.select .option:last-child{
        border-radius: 0 0 7px 7px;

    }

    .lilLabel{
        font-size: 24px;
    }

    .file-wrp{
        margin-top:24px;
    }

    .file-wrp .uploadFile{
        font-size: 34px;
        padding: 36px 72px;
    }

    .file-wrp .uploadFile:hover{
        border: 5px solid #27AE60;
    }

    .file-wrp input[type=file]{
        font-size: 240px;
    }

    .form.vacancy input[type=submit]{
        margin-top:72px;
        padding: 48px 0;
        font-size: 34px;
    }

    .form.vacancy input[type=submit]:hover{
        border: 5px solid #2F80ED;
    }

    .form.vacancy .img{
        width: 694px;
        height:479px;
        margin-left: 31px;
        margin-top: 48px;
    }

    .mySuccess{
        border: 2px solid white;
        padding: 48px;
        margin-top: 48px;
    }

    .mySuccess .btn{
        padding: 24px 36px;
    }

    .mySuccess .btn.govacancy{
        margin-top: 48px;
    }

    #contactModal.addModel .modal-dialog{
        height: 730px;
    }

    #contactModal.addModel .modal-dialog img {
        width: 136px;
        top:120px;
        left: 318px;
    }

    #contactModal.addModel .modal-dialog .contact{
        top:263px;
    }

    #contactModal.addModel .modal-dialog .lilLabel{
        top:360px;
    }

    #contactModal.addModel .modal-dialog .btn.closeModal{
        top:512px;
    }



    /**************VACANCY PAGE**********/

    .vacancies-wrp .extended-wrp{
        margin-top: 120px;
    }

    .vacancies-wrp .extended-wrp .checkboxBlock .item{
        margin-bottom: 40px;
    }

    .vacancies-wrp .extended-wrp .checkboxBlock .item .checkbox-custom{
        width: 43px;
    }

    .vacancies-wrp .extended-wrp .checkboxBlock .item .label{
        margin-left: 27px;
        font-size: 34px;
    }

    .vacancies-wrp .extended-wrp hr{
        border-top: 2px solid #262626;
        margin-top: 72px;
    }

    .vacancies-wrp .btn.findVacancy{
        padding:50px 0;
        margin-top: 72px;
    }

    .vacancies-wrp .btn.findVacancy:hover{
        border: 5px solid #2F80ED;
    }

    .vacancies-wrp .btn.findVacancy img{
        width: 43px;
        height: 43px;
    }

    .vacancies-wrp .btn.findVacancy span{
        margin-left: 24px;
        font-size: 34px;
    }

    .vacancies-wrp .extWrpOpener{
        font-size: 34px;
        margin-top: 48px;
    }

    .vacancies-wrp h3{
        font-size: 48px;
        margin-top: 48px;
    }

    .vacancies-wrp .vacancy-results{
        margin-top: 48px;
    }

    .vacancies-wrp .vacancy-results .result-item{
        padding: 29px 24px;
        border-radius: 7px;
        margin-bottom: 48px;
    }

    .vacancies-wrp .vacancy-results .result-item:hover{
        border: 5px solid #27AE60;
    }

    .vacancies-wrp .vacancy-results .result-item .header-busy-type,
    .full-wrp .header-city-time{
        font-size:24px;
    }

    .vacancies-wrp .vacancy-results .result-item .header-busy-type .img,
    .full-wrp .header-city-time img{
        width: 88px;
        margin: 0 19px;
        margin-top: 12px;
    }

    .vacancies-wrp .vacancy-results .result-item h2{
        margin-top: 48px;
        font-size: 43px;
        line-height:65px;
    }

    .vacancies-wrp .vacancy-results .result-item .date{
        margin-top: 24px;
        font-size: 19px;
    }

    .vacancies-wrp .vacancy-results .result-item p{
        font-size: 29px;
        line-height: 43px;
        margin: 0;
        margin-top: 48px;
    }

    .vacancies-wrp .vacancy-results .result-item .price{
        padding: 7px 17px;
        font-size: 24px;
        margin: 24px 0 29px 0;
    }

    .vacancies-wrp .btn.showMore{
        font-size:34px;
        padding: 48px;
        border: 5px solid #27AE60;
        margin-top: 144px;
    }

    .vacancies-wrp .addnew-wrp{
        margin: 0;
        margin-top: 192px;
    }

    .vacancies-wrp .addnew-wrp .btn.addMore{
        border-radius: 12px;
        font-size: 34px;
        padding: 53px;
        top: 278px;
    }

    .vacancies-wrp .addnew-wrp .btn.addMore:hover{
        border:5px solid #EB5757;
    }


    /****************FULL VACANCY PAGE****************/

    .full-wrp .header-city-time{
        margin-top: 108px;
    }

    .full-wrp h2{
        font-size: 43px;
        line-height: 65px;
        margin-top: 48px;
    }

    .full-wrp > img{
        height: 479px;
        margin-top: 48px;
    }

    .full-wrp .tags{
        margin:36px 0 0 0;
    }

    .full-wrp .tags .item{
        font-size: 24px;
        margin: 0 0 0 12px;
        padding: 7px 14px;
    }

    .full-wrp p{
        margin: 36px 0 0 0;
        font-size: 31px;
        line-height: 48px;
    }

    .full-wrp .btn.showContact{
        font-size: 34px;
        border-radius: 12px;
        padding: 50px 0;
        margin: 120px 0 0 0;
    }

    .full-wrp .btn.goALL{
        padding: 48px 0;
        border-radius: 10px;
        border: 5px solid #27AE60;
        margin: 48px 0 0 0;
        font-size: 34px;
    }

    .full-wrp .btn.goALL img{
        margin-right: 12px;
        width: 38px;
    }

    .full-wrp .btn.goALL div{
        margin-left: 12px;
    }

    #contactModal > .modal-dialog,
    #warningModal > .modal-dialog{
        width:774px;
        height: 580px;
        top:50%;
        left: 50%;
        margin-left: -387px;
        margin-top: -290px;
    }

    #contactModal > .modal-dialog > button,
    #warningModal > .modal-dialog > button{
        font-size:68px;
        top:40px;
        right:72px;
    }

    #contactModal .modal-dialog .lilLabel,
    #warningModal .modal-dialog .lilLabel{
        top:196px;
        font-size: 34px;
    }

    #contactModal .modal-dialog .contact,
    #warningModal .modal-dialog .contact{
        font-size: 48px;
        top:250px;
    }

    #contactModal .modal-dialog .btn.closeModal,
    #warningModal .modal-dialog .btn.closeModal{
        width: 496px;
        top: 383px;
        left: 132px;
        font-size: 34px;
        padding: 50px 144px;
        border-radius: 12px;
    }

    .full-wrp h3{
        margin-top: 132px;
        font-size: 48px;
    }

    .full-wrp .vacancies-wrp{
        margin-top: 45px;
    }

    .full-wrp .vacancies-wrp a.showMore{
        margin-top: 12px;
    }
}